
<!-- 
<%=flash[:notice]%>
<form method="POST" action='/person/create'
> -->
<% form_for @person, "/person/create" do |form|%>

	<% field_set_tag do %>
	  <%= form.label :first_name %>
	  <%= form.text_field :first_name%>
		<!-- <label for='first_name'>First Name</label>
		<input type= "text" name="first_name"/> -->
	<%end%>

	<% field_set_tag do %>
		<%= form.label :last_name %>
	  <%= form.text_field :last_name%>
		<!-- <label for='last_name'>Last Name</label>
		<input type= "text" name="last_name"/> -->
	<%end%>

	<% field_set_tag do %>
		<%= form.label :phone %>
	  <%= form.text_field :phone %>
		<!-- <label for='phone'>Phone</label>
		<input type= "text" name="phone"/> -->
	<%end%>

	<% field_set_tag do %>
		<%= form.label :twitter %>
	  <%= form.text_field :twitter %>
		<!-- <label for='twitter'>Twitter</label>
		<input type= "text" name="twitter"/> -->
	<%end%>

	<% field_set_tag do %>
		<%= form.label :email %>
	  <%= form.text_field :email %>
		<!-- <label for='email'>Email</label>
		<input type= "text" name="email"/> -->
	<%end%>
	
	<%= form.submit "Save"%>

<!-- </form> -->
<%end%>